<!doctype html>
<html>
<head>

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" > 	
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	
	<style>
	
	table
	{
		border-collapse:collapse;
	}
	table, td, th
	{
		border:1px solid black;
		text-align:center;
	}
	td
	{
		height:20px;
		width:100px;
		text-align:center;
		padding:5px;
	}
	
	
	
	</style>
	
</head>
<body>
<div id ="content">
	<div class ="headline">	
	Welcome to Twordsie!
	</div>
	Twordsie will show you your most frequently tweeted words.
	

	<div id ="enter">
		<p>	
		Step 1. Enter your Twitter handle
		<p>
		Step 2. Hit Submit
	<form name="input" action="/results" method="get">
		<input type="text" class="form-field" id="input" name="username" placeholder="@username" />
		<input type="submit" value="Submit" class="button" />
	</form>
		<p>
		Step 3. Reap reward
	</div>
	<p>
	<hr>
	<p>
		Check out some recent examples
		<div id = "recents">
		<p>
		{% for username in recentusers %}
		<a href="http://twordsie.herokuapp.com/results?username={{ username }}">{{ username }}</a>
		<br>
		{% endfor %}
		</div>
</div>
	   	

</body>
</html>