<!doctype html>
<html>
<head>

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" > 	
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	
	<meta name="description" content="Know thyself! Twordsie will show you your most tweeted words, and your closest friends on Twitter.">



	<style>
	
	table
	{
		border-collapse:collapse;
	}
	table, td, th
	{
		border:1px solid black;
		text-align:center;
	}
	td
	{
		height:20px;
		width:100px;
		text-align:center;
		padding:5px;
	}
	
	
	
	</style>
	
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2442790-9']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>



</head>
<body>
<div id ="content">
	<div class ="firstheadline">	
	Welcome to Twordsie!
	</div>
	<div class ="subhead">
	Twordsie will show you your most frequently tweeted words.
	</div>

	<div id ="enter">
		<form name="input" action="/results" method="get">
		<input type="text" class="form-field" id="input" name="username" placeholder="@username" />
		<input type="submit" value="Submit" class="button" />
	</form>
	<br>
		<p>	
		Step 1. Enter Your Twitter handle
		<p>
		Step 2. Hit Submit
		<p>
		Step 3. Reap Glorious Reward
	</div>
	<p>
	<hr>
	<p>
		Check out some recent examples
		<div id = "recents">
		<p>
		{% for username in recentusers %}
		<a href="http://www.twordsie.com/results?username={{ username }}">{{ username }}</a>
		<br>
		{% endfor %}
		</div>

	<div class = "footer">
	Twordsie is an experiment in programming by <a href="http://www.jakelevine.me">Jake Levine</a> (<a href="http://www.twitter.com/jrlevine">@jrlevine</a>) and <a href="http://www.alexrosen.com">Alex Rosen</a> (<a href="http://www.twitter.com/alexmr">@alexmr</a>) This is version 2, built using Python/Flask on Heroku. The original was built on Google's App Engine and <a href="http://twordsie.appspot.com/">is very ugly</a>.
	</div>	   	

</div>


</body>
</html>